{% include "header.html" %}


<br>
<br>



<div class="container">
    <div class="row ">
      <div class="col-lg-8 col-md-10 mx-auto">
          <br>
          <br>
            <h2 style="color:red;">access denied !</h2>
              <br>
           <h2> Your Email does not fit to Company ID </h2>
          <br>
           <h2> If you are Member of the Company, please register </h2>
          <br>
          <h2> Use your Company-Email Address !</h2>
      </div>
    </div>
</div>



{% include "footer.html" %}