{% include "header.html" %}



<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <h2>Assign FoP Team Members</h2>
      <br>
    </div>
  </div>

<form action="{{ url_for('assign_members', fop_id=fop_id)}}" method="post">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Role</th>
      <th scope="col">Select</th>
    </tr>
  </thead>
  <tbody>



  {% for member in all_members %}

    <tr>
      <th scope="row">{{member.id }}</th>
      <td>{{ member.first_name }}</td>
      <td>{{ member.last_name }}</td>
      <td>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="select">
          <option selected>none</option>
          <option value="Account Manager">Account Manager</option>
          <option value="Product Delivery">Product Delivery</option>
          <option value="Consultant">Consultant</option>
        </select>
      </td>
      <td>
        <div class="form-check">
          {% if member in fop_team : %}
            <input class="form-check-input" type="checkbox" value="{{ member.id }}" id="flexCheckDefault" name="check" checked>
            <label class="form-check-label" for="flexCheckDefault">
          {% else: %}
            <input class="form-check-input" type="checkbox" value="{{ member.id }}" id="flexCheckDefault" name="check">
            <label class="form-check-label" for="flexCheckDefault">
          Default checkbox
          </label>
          {% endif %}
        </div>
      </td>

    </tr>
  {% endfor %}

 </tbody>
 </table>
<button type="submit">Assign Members</button>
</form>
</div>

<br>
<div class="container">

<!--     <button type="button" class="btn btn-primary btn-lg start-button" onclick="window.location.href='/new_account'">Edit Account</button>-->
  <a class="btn btn-primary float-right" href="{{url_for('show_fop', fop_id=fop_id)}}">Back to FoP</a>
<!--  <a class="btn btn-primary float-right" href="{{url_for('add_contact', fop_id=fop_id)}}">Assign Members</a>-->


<!--     <button type="button" class="btn btn-primary btn-lg start-button" onclick="window.location.href='/fop'">See FoPs</button>-->

</div>


<br>
{% include "footer.html" %}