{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<!--<div class="container">-->
<!--            <h2>Register</h2>-->
<!--    <br>-->

<!--            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}-->


<!--</div>-->
<br>
<br>



<div class="container">
    <div class="row ">
        <div class="color-box">
      <div class="col-lg-8 col-md-10 mx-auto">
          <br>
            <h2>Login!</h2>
          <br>

         {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

      </div>
        </div>
    </div>
  </div>


{% include "footer.html" %}