{% include "header.html" %}



<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <h2>Buying-Center:
      {{ fop.fop_name }}</h2>
      <br>
    </div>
  </div>


  <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">Relation</th>
      <th scope="col">Significance</th>
    </tr>
  </thead>
  <tbody>

  {% for contact in contacts %}

    <tr>
      <th scope="row">{{contact.id }}</th>
      <td>{{ contact.contact_name }}</td>
      <td>{{ contact.contact_role }}</td>
      <td>{{ contact.contact_relation}}</td>
      <td>{{ contact.contact_significance}}</td>
      <td><a class="btn btn-primary float-right" href="{{url_for('edit_contact', contact_id=contact.id)}}">Edit Contact</a></td>
    </tr>
  {% endfor %}

  </tbody>
  </table>
</div>


<!--  {% for contact in contacts %}-->
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <h2>Name</h2>-->
<!--         <h3> {{ contact.contact_name }} </h3>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <h2>Role</h2>-->
<!--        <h3> {{ contact.contact_role }} </h3>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <h2>Our Relation </h2>-->
<!--        <h3> {{ contact.contact_relation}} </h3>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <h2> Significance </h2>-->
<!--        <h3> {{ contact.contact_significance}} </h3>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <a class="btn btn-primary float-right" href="{{url_for('edit_contact', contact_id=contact.id)}}">Edit Contact</a>-->
<!--    </div>-->
<!--  </div>-->
<!--  {% endfor %}-->





<div class="container">

<!--     <button type="button" class="btn btn-primary btn-lg start-button" onclick="window.location.href='/new_account'">Edit Account</button>-->
  <a class="btn btn-primary float-right" href="{{url_for('show_fop', fop_id=fop.id)}}">Back to FoP</a>
  <a class="btn btn-primary float-right" href="{{url_for('add_contact', fop_id=fop.id)}}">Add New Contact</a>


<!--     <button type="button" class="btn btn-primary btn-lg start-button" onclick="window.location.href='/fop'">See FoPs</button>-->

</div>


<br>
{% include "footer.html" %}